@page
@model HospitalClient.Pages.User.LoginModel
@{
}
<form method="post">
    Email
    <input type="text" asp-for="UserLogin.Email" /> <br />
    Password
    <input type="password" asp-for="UserLogin.Password" /> <br />
    <button type="submit">Login</button>
    <h2>@Model.Message</h2>
</form>